/* 
#162029 black-ish
--lighter #273847
 --darker #0e1419
#D81159 pink
#2EC4B6 teal 
##F6F7F8 white 
#8F2D56 magenta  
*/

@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Open+Sans:wght@500&family=Space+Mono&display=swap');

body {
  background-color: #162029;
  color: #F6F7F8; 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#logo-div{
  height: 23vmin;
  margin: auto;
  text-align: center;
  width:1020px;
}

#h1-container{
  width: 700px; 
  float: left; 
}

h1{
  font-family: 'Elsie Swash Caps'; 
  font-size: 50pt;
  text-align: center; 
}

#rabbit1{
  width:150px;  
  transform: scaleX(-1);
  float: left; 
}

#rabbit2{
  width: 150px;
  float: left; 
  
}



.link{
  text-decoration: none;
  color: #8F2D56; 
}

.link:hover{
  color: #2EC4B6; 
}

a {
  text-decoration: none;
  color: #8F2D56;
}

a:hover{
  color: #2EC4B6; 
}

code {
  background-color: #273847;
  border: 2px solid #0e1419; 
  padding: 10px; 
  border-radius: 5px; 
}

.responsePreview{
  background-color: #273847;
  border: 2px solid #0e1419; 
  padding: 10px; 
  border-radius: 5px; 
  width: 500px;
  font-family: 'Space Mono', monospace;

}

/* HEADER COMPONENT */

#header {
  margin-top: 0px; 
  background-color: #ffffff;
  color: #0e1419;
  min-height: 350px; 
  
}

#navbar{ 
  background-color: #F6F7F8;
  text-align: right;
  width: 100%;
  min-height: 50px;
  padding-top:20px; 
}

.navlink{
  padding: 10px; 
  font-size: 20pt;
}

.tryit{
  font-size: 16pt;
}


.content{
  padding-left: 15px; 
}

.footer{
  background-color: #0e1419; 
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.edit {
  border: 1px solid #000; 
  background-color: grey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #h1-container{
    width: 250px; 
  }
  h1{
    font-size: 28pt;
  }
 
  #rabbit1 {
    width: 28%;
    margin: auto; 
  }

  #rabbit2 {
    display: none;
  }

  .navlink{
    font-size: 14pt;
  }

  .responsePreview{
    width: 90%; 
  }

  #logo-div{
    width: 80%; 
  }
}